@media only screen and (min-width: 32.5em){

    .container {
        max-width:65%;
    }

    header img {
        float: right;
    }

    header h1 {
        font-size: 2.5em;
    }

    main h2 {
        font-size: 1.8em;
    }
}