body{
    background-color: #424874;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.container {
    max-width:90%;
    margin: 0 auto;
    background-color: #dcd6f7;
    border-radius: 1.2em;
    box-shadow: 0 3px 3px rgba(4, 5, 5, .4);
}

header,footer{
    background-color: #a6b1e1;
    color: #fff;
    text-align: center;
    padding: .5em;
    border-radius: .8em;
    text-shadow: 0 3px 3px rgba(4, 3, 3, .5);
}

header img{
    float: none;
    max-width: 9em;
    box-shadow: 0 3px 3px rgba(3, 3, 3, .4);
}

header h1{
    margin:0;
    font-size: 1.8em;
}

main{
    padding: 1em;
}

main h2{
    border-bottom: 2px solid #424874;
    font-size: 1.2em;
}

main ul li{
    line-height: 1.8;
}

footer a{
    color: #fff;
}

footer p:last-of-type{
    color: #FFEFB8;
    font-weight: 400;
}