body{
    background-color: #424874;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width:65%;
    margin: 0 auto;
    background-color: #dcd6f7;
    border-radius: .8em;
    box-shadow: 0 3px 3px rgba(3, 3, 3, .4);
}
header,footer{
    background-color: #a6b1e1;
    color: #fff;
    border-radius: .8em;
    text-align: center;
    padding: .5em;
}

header{
    font-size: 1.5em;
}
header img{
    float: right;
    max-width: 6em;
    box-shadow: 0 3px 3px rgba(3, 3, 3, .4);
}

header h1{
    margin:0;
}

main{
    padding: 1em;
}

main h2{
    border-bottom: 2px solid #424874;
}

footer a{
    color: #fff;
}

footer p:last-of-type{
    color: #FFEFB8;
    font-weight: 700;
}