main{
  padding: 1rem;
}

.hero {
  a {
    top: 10%;
    font-size: 1.5rem;
    padding: .5rem 1rem;
  }
}
.type-rentals{
  div{
    border: none;
  }
}

.weather{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 5rem 4rem 5rem;
  h2{
    margin-bottom: 2rem;
  }
  div{
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    margin:0;
    justify-self: end;
    img{
      width: 10rem;
      margin-left: 5rem;
    }
  }

  h2{
    grid-column: 1/-1;
    text-align: center;
  }
  table{
    margin:0 1rem;
  }
}

.contact{
  padding: 0 2rem;
  i:hover {
    transform: translate(0, -2px);
    text-shadow: 0px 2px 3px #555;
  }
}

footer{
  ul{
    font-size: 1.2rem;
    margin: .5rem 0;
    li{
      margin: 0 1rem;
    }

    a:hover{
      text-decoration-color: $accentColor1;
      color: $textColor;
    }
  }
  p:last-child{
    padding-bottom: .5rem;
  }
}

/******************* rentals *******************/
.banner{
  a {
    font-size: 1.5rem;
    padding: .5rem 1rem;
  }
}

.rentals {
  #rentalCards {
    grid-template-columns: 1fr 1fr 1fr;
    .btn:hover {
      text-decoration: underline;
      text-decoration-color: $accentColor1;
    }
  }

}

/******************* reservation *******************/
.reservation {
  width: 45%;
}

/******************* reservation *******************/
.tours {
  grid-template-columns: 1fr 1fr 1fr;
  div{
    padding: 1rem;
  }
}