.hero {
  h1 {
    font-size: 2.5rem;
  }
  a {
    font-size: 1.5rem;
  }
}

.navigation {
  display: flex;

  li {
    display: block;
    flex: 1 1 auto;
    border-right: 1px solid rgba(0, 0, 0, .1);

    a {
      text-align: center;
    }

    a:hover {
      background-color: rgba(0, 0, 0, .4);
      color: #fff;
    }
  }

  li:first-child {
    display: none;
  }

  li:last-of-type {
    border-right: none;
  }
}

.type-rentals {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: initial;
  padding: 1rem;
  h2{
    grid-column: 1/-1;
    text-align: center;
  }

}

.list{
  margin: 0;
  li{
    line-height: 1;
  }
}

.weather {
  div{
    width: 30rem;

    div{
      width: 50%;
    }
  }

  table{
    th {
      font-size: 1.5rem;
      padding: .5rem;
    }
    td {
      font-size: 1rem;
    }
  }
}

.contact {
  div{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    max-width: 100%;
    iframe{
      display: inline-block;
      grid-row: 1/3;
      width: 100%;
    }
    .fa {
      margin-right: .5rem;
    }
    .social-list{
      grid-column: 2/-1;
      font-size: 4rem;
    }

  }

}

footer{
  ul{
    display: flex;
    justify-content: center;
    li{
      padding: 0 .5rem;
    }
  }
  p:last-child{
    font-size: .9rem;
  }
}

/******************* rentals *******************/
.banner{
  h1 {
    font-size: 2.5rem;
  }

  a {
    font-size: 1.5rem;
  }
}

.rentals{
  #rentalCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;
    div{
      align-self: baseline;
      height: 100%;
    }
  }
}

/******************* reservation *******************/
.reservation {
  width: 70%;
}

/******************* reservation *******************/
.tours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  h2{
    grid-column: 1/-1;
  }
  div{
    padding: 1rem;
    margin-bottom: 0;
  }
}