*{
  box-sizing: border-box;
}

body{
  font-family: $fontFamily;
}


.hero{
  max-width: 100%;
  position: relative;

  picture{
    display: inline-block;
  }

  h1{
    position: absolute;
    margin:0;
    top: 10%;
    left: 5%;
    color: $primaryColor;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  }

  a{
    position: absolute;
    top: 60%;
    right: 5%;
    background-color: rgba(46, 80, 119, .6);
    color: #fff;
  }

  img{
    width: 100%;
  }
}

.btn{
  text-decoration: none;
  border:1px solid transparent;
  border-radius:4px;
  display:inline-block;
  padding:6px 12px;
  font-weight:400;
  line-height: 1.5;
  text-align: center;
  white-space:nowrap;
  cursor:pointer;
  user-select:none;
  box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, .1);
}

.btn:hover{
  transform: translate(0,-2px);
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, .8);
}

.btn:hover::after{
  transform: translate(0);
}

nav {
  background: linear-gradient(to bottom, $primaryColor 0%, rgb(109, 255, 80) 100%);
  width: 100%;
  margin: 0 auto;
  margin-top: -4px;
  position: sticky;
  top: 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  li:first-child {
    display: block;
  }

  li {
    display: none;

    a {
      display: block;
      padding: .8rem 2%;
      text-align: center;
      text-decoration: none;
      color: #444a57;
      font-weight: 700;
      border-top: 1px solid rgba(0, 0, 0, .1);
    }
  }

}

.appear li {
  display: block;
}

.active {
  background-color: rgba(0, 0, 0, .2);
}

