body {
    background-color: #424874;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    background-color: #dcd6f7;
    border-radius: 1.2em;
    box-shadow: 0 3px 3px rgba(4, 5, 5, .4);
}

header,
footer {
    background-color: #a6b1e1;
    color: #fff;
    text-align: center;
    padding: .5em;
    border-radius: .8em;
    text-shadow: 0 3px 3px rgba(4, 3, 3, .5);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header a{
    color:#fff;
    text-decoration: none;
}

main {
    padding: 1em;
    text-align: center;
}

.card{
    border: 1px #a6b1e1 solid;
    border-radius: .5em;
    padding: .5em;
}

.card h2{
    border-bottom:solid 3px #424874;
    margin:0;
    padding: .5em;
    padding-top: 1em;
    min-height: 2.5em;
    line-height: 100%;
}

.card img{
    margin: 1.5em 0;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: .5em;
    max-width: 100%;
}

.card p{
    font-size: 1.1em;
    line-height: 1.7;
}

footer a {
    color: #fff;
}

footer p:last-of-type {
    color: #FFEFB8;
    font-weight: 400;
}

@media screen and (max-width: 480px) {

    /* Small */
    header a{
        margin-left: .2em;
    }

    .container{
        max-width: 100%;
    }

    .grid{
        display: block;
    }

    .card{
        margin: 1em 0;
    }
}

@media screen and (min-width:481px) and (max-width: 760px) {
    /* Medium*/
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:1em;
    }
}

@media screen and (min-width:761px) {
    /* large*/
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

}