@media only screen and (min-width: 64rem) {
    .title h1 {
        font-size: 2em;
    }

    .hero {
        min-height: 20em;
    }

    .hero-summary {
        top:2em;
        left:2em;
        font-size: 1em;
    }

    .blog{
        padding: 2em;
    }
    
    .blog h3 {
        font-size: 1.5em;
    }

    .blog img {
        float:right;
        max-width: 20em;
        margin-left: 1em;
    }

    .blog p {
        font-size: 1em;
    }

    .blog a {
        font-size: 1em;
    }
    
    .wrapper-info p {
        font-size: 1em;
    }

    .wrapper-info ul li {
        display: inline;
        font-size: 2em;
        margin: 0 .2em;
    }

    /************* storm center styles ***********/
    form {
        width: 60%;
    }

    .input-box textarea {
        height: 8em;
    }

    .send {
        width: 15em;
    }

    /******************** Gallery styles **********************/
    .gallery {
        display: grid;
        grid-gap: em;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        padding: .5em 3em;
        margin-bottom: 1em;
    }

    .card {
        transition: transform .5s;
        transition-timing-function: ease-out;
    }

    .card:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18),
            0 2px 2px rgba(0, 0, 0, 0.18),
            0 4px 4px rgba(0, 0, 0, 0.18),
            0 8px 8px rgba(0, 0, 0, 0.18),
            0 16px 16px rgba(0, 0, 0, 0.18),
            0 32px 32px rgba(0, 0, 0, 0.18);
        transform: rotate(1deg);
    }

    footer {
        font-size: 1em;
        width: 80%;
        margin: 0 auto;
        box-shadow: inset 0 0 10px #222;
        margin-bottom: 1em;
    }
}