@media only screen and (min-width: 32.5em) {
    .title h1 {
        font-size: 1.8em;
    }
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .navigation li a {
        text-align: center;
    }

    .navigation li:last-of-type{
        border-right:none;
    }

    .navigation li:first-child {
        display: none;
    }

    main {
        max-width: 80%;
        margin: 0 auto;
    }

    .hero {
        min-height: 15em;
    }

    .hero-summary {
        top:1.5em;
        left:1.5em;
    }

    .forecast{
        display: block;
        text-align: center;
        margin-bottom: 2em;
    }

    .forecast table{
        border: 1px solid #555;
        margin: .5em auto;
        border-radius: .2em;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
        0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.15),
        0 8px 8px rgba(0, 0, 0, 0.15);
    }

    .forecast table tr th{
        background-color: #A6B1E1;
        color: #fff;
        padding: .5em;
    }
    .forecast table tr td{
        padding: .5em;
        color: #2F4858;
        font-weight:bold;
        border-left: 1px solid #A6B1E1;
    }

    .forecast table tr td:first-of-type {
        border-left: none;
    }

    .forecast .fa-sun{
        color: #FAFF7F;
        text-shadow: 3px 5px 5px #888;
    }
}