@media only screen and (min-width: 32.5em) {
    .title h1 {
        font-size: 1.8em;
    }
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .navigation li a {
        text-align: center;
    }

    .navigation li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }

    .navigation li:last-of-type{
        border-right:none;
    }

    .navigation li:first-child {
        display: none;
    }

    .gallery{
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: .5em 1em;
        margin-bottom: 1em;
    }

    .gallery h2{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .card{
        align-self: start;
        margin: 0 0 1em 0;
    }

}