body {
    background-color: #424874;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 1.2em;
    box-shadow: 0 3px 3px rgba(4, 5, 5, .4);
}

header,
footer {
    background-color: #a6b1e1;
    color: #fff;
    text-align: center;
    padding: .5em;
    text-shadow: 0 3px 3px rgba(4, 3, 3, .5);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-radius: .8em .8em 0 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    text-align: center;
    margin: 0;
}

nav{
    background-color: #7CC6FE;
    margin-top: 0;
    max-width: 100%;
}

nav ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
nav ul li{
    flex-grow: 1;
    border-right: 1px solid #424874;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    color: #2F4858;
    text-decoration: none;
    font-weight: 800;
    padding: 1em;
}

nav ul li a:hover {
    background-color: #2F4858;
    color: #fff;
}

section{
    padding: 1em;
    border: 1px #ccc solid;
    line-height: 1.8;
    font-weight: 400;
}

/* Home */

.purpose{
    padding: 1em 3em;
}

.domain img{
    max-width: 80%;
    border-radius: .5em;
    box-shadow: 0 3px 3px rgba(4, 5, 5, .4);

}

.logo img{
    max-width: 50%;
}

/* Target audience */

.audience{
    padding: 0 2em;
    border-bottom: 1px #ccc solid;
}

.personas{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.personas h3{
    grid-column: 1/-1;
}

.personas div{
    border: 1px #ccc solid;
    border-radius: .5em;
    padding: .5em 1em;
}

.personas div h4{
    text-decoration: underline;
    text-decoration-color: #7CC6FE;
    text-decoration-thickness: .2em;
    text-underline-position: under;
}

.scenarios dl{
    text-align: left;
    padding: 1em;
    margin: 0 2em;
}

.scenarios dl dt{
    font-weight: bold;
}

/* color scheme */

.color-scheme table{
    margin: 0 auto;
    width: 80%;
    border-spacing: .2em;
}

.color-scheme table tr td{
    border: 1px #555 solid;
    border-radius: .5em;
    padding: .5em;
}

.color-scheme table tr td:nth-of-type(1){
    font-weight: bold;
}

.color-scheme table tr td:nth-of-type(2) {
    color: #fff;
    font-weight: bold;
}

.primary-color{
    background-color: #A6B1E1;
}

.secondary-color {
    background-color: #424874;
}

.accent1-color {
    background-color: #7CC6FE;
}

.accent2-color {
    background-color: #2F4858;
}

/* Typography */
.typography{
    padding: 2em;
}

.typography p{
    padding: 0 3em;
}

.typography div>h3{
    text-decoration: underline;
    text-decoration-color: #7CC6FE;
    text-decoration-thickness: .2em;
    text-underline-position: under;
}

.typography div ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.typography div ul li{
    border: 1px #555 solid;
    border-radius: .5em;
    flex-grow: 1;
    margin: .3em;
    padding: 0 .5em;
}

footer{
    border-radius: .0 .0 .8em .8em;
}

footer a {
    color: #fff;
}

footer p:last-of-type {
    color: #FFEFB8;
    font-weight: 400;
}

@media screen and (max-width: 480px) {

    /* Small */
    
    body{
        padding: .2em;
    }

    .container{
        width: 95%;
    }

    header{
        padding: .4em;
    }

    header h1 {
        font-size: 1.5em;
    }

    header h2 {
        font-size: 1em;
    }

    nav ul{
        display: block;
        padding: 0;
    }

    nav ul li{
        padding: 1em 0;
        border-bottom: 1px #424874 solid;
        border-right: none;
    }

    .domain img{
        max-width: 100%;
    }

    .personas{
        display: block;
    }

    .personas div{
        max-width: 100%;
        margin-bottom: .5em;
    }

    .scenarios dl {
        margin: 0 .5em;
    }

    .typography {
        padding: .5em;
    }

    .typography p {
        padding: 0;
    }
}

@media screen and (min-width:481px) and (max-width: 760px) {
    /* Medium*/

    body {
        padding: .5em;
    }

    header{
        padding: .6em;
    }

    header h1 {
        font-size: 1.8em;
    }

    header h2 {
        font-size: 1.5em;
    }


    nav ul{
        font-size: .7em;
        display: flex;
        justify-content: space-between;
    }

    nav ul li{
        flex-grow: 1;
        margin: 0;
        padding: .2em 0;
    }

    .personas {
        display: block;
    }

    .personas div {
        max-width: 100%;
        margin-bottom: .5em;
    }
}